
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@500;700&family=Work+Sans:wght@400;500;700;800&display=swap');
*{
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
margin:0;
padding: 0;
}
/* shared styles */
.color{
    color: #3A3A3A;
}
header{
    padding: 85px 120px;
   
    margin-left: 120px;
    margin-right: 120px;

}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul {
display: flex;
list-style: none;
font-size: 16px;
font-weight: 600;
gap: 34px;
}
nav ul img{
    width: 24px;
height: 24px;
}
nav h3{
    width: 243px;
    height: 52.2px;
    font-weight: 700px;
    font-size: 24px;
}
nav li a{
    text-decoration: none;
    color: #3A3A3A;
}
.banner1{
    padding: 200px 0px 100px 0px;
   
    width: 1440px;
height: 306px;
}

.banner{
    display: flex;
    font-feature-settings: 'clig' off, 'liga' off;
    justify-content: space-between;
}
/* .banner-img{
    background: url(./images/Circle\ design.svg);
    width: 475px;
    background-repeat: no-repeat;
height: 475px; */


/* } */
.banner-img{
    padding-top: 30px;;
}
.image{
    
    padding: 30px 0px 80px 0px;
    width: 475px;
    height: 475px;
background: url(./images/Circle\ design.svg);
background-repeat: no-repeat;
}
.banner-title{
    width: 582px;
height: 133px;
font-size: 52px;
font-weight: 700;
}
.banner-description{
    width: 505px;
height: 60.9px;
font-size: 16px;
font-weight: 600;

}
.btn{
    display: inline-flex;
padding: 10px 24px;
align-items: flex-start;
gap: 8px;
border-radius: 41px;
background: #E02C6D;
}
.btn-text{
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
main{
    width: 1200px;
    margin: 0 auto;
}
.content-title{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
font-feature-settings: 'clig' off, 'liga' off;
    font-weight: 600;
line-height: 70px;
    width: 260px;
    height: 70px;
    font-size: 28px;
}
.image-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    margin-top: 100px;
    width: 1440px;
height: 880x;
}
.img1{
    width: 300px;
height: 256px;
border-radius: 5px;
margin-left: auto;
margin-right: auto;
display: block;

}
.imgs{
    position: relative;
    padding-left: 120px;
    padding-bottom: 30px;;
    gap: 30px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}
.img-des{
   padding: 30px;
    width: 300px;
height: 176px;
padding: 17px 15px 230px 15px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
align-items: center;
justify-content: center;
}
.sponsors-img-container{
    
    width: 1440px;
height: 70px;
margin-top: 50px;
display: flex;

gap: 65px;
}
.img2{
    width: 100px;
height: 28px;
margin-top: 20px;
}

